body {
  background-color: #1a1a1a;
  background-size: cover;
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  max-width: 100%;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.slider__container {
  mask-image: linear-gradient(transparent, black, transparent);
  mask-mode: alpha;
  max-width: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    transparent 20%,
    black 50%,
    transparent 80%,
    transparent
  );
  -webkit-mask-mode: alpha;
}
.slider__wrapper {
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 2rem;
  transition: transform cubic-bezier(0.83, 0, 0.17, 1);
}

.image__container {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
img {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  opacity: 0;
  transform: scale(1.2);
}
img.image--active {
  opacity: 1;
  transform: scale(1);
  transition: transform 2s cubic-bezier(0.83, 0, 0.17, 1),
    opacity 2s cubic-bezier(0.83, 0, 0.17, 1);
  z-index: 1;
}
img.image--active.hide {
  opacity: 0;
  transition: opacity 2s cubic-bezier(0.83, 0, 0.17, 1);
}

.image__container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  box-shadow: inset 0px 0px 150px black;
}
